<h1>Welcome to the 'Post-ur-blog' site</h1>

<table>
    <tr>
        <th> SL. No. </th>
        <th> Title </th>
        <th> Body </th>
        <th> Action </th>
    </tr>
    <% @blog_posts.each do |blog_post| %>
    <tr>
        <td> <%=  blog_post.id %> </td>
        <td> <%=  blog_post.title %> </td>
        <td> <%=  blog_post.body %> </td>
        <td> 
            <%= link_to "See details (1)", blog_post %>
            <%= link_to "See details (2)", "/blog-posts/#{blog_post.id}" %>
            <%= link_to "See details (3)", blog_post_path(blog_post.id) %> 

            <%= button_to "Edit", edit_blog_post_path(blog_post.id), method: :get %>
            <%= button_to "Delete", blog_post, method: :delete, data: { turbo_confirm: 'Are you sure?' } %>

        </td>
    </tr>
    <% end %>

</table>

<div>
    <%= button_to "Post Your Job", new_blog_post_path, method: :get %>
</div>